/*GLOBAL*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #161618;
    --font-principal: 'Roboto', sans-serif;
    --bgsecundario-color: #202024;
    --font-color: white;
    --bg-botao: #2f2f35;
    --bg-botao-hover: #3d3d3d;
}

body {
    background: var(--bg-color);
    font-family: var(--font-principal);
    color: var(--font-color);
}

.primario {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 5em;
    
}

header {
    display: flex;
    justify-content: center;
    height: 10vh;
    align-items: center;
    margin-bottom: 5em;
}

nav ul{
    display: flex;
    list-style-type: none;
    gap: 12px;
}

nav ul li a{
    text-decoration: none;
    color: #ffffff;
    transition: color 0.2s;
    font-size: 20px;
}

nav ul li a:hover{
    color: #cfcfcf;
}

.txt_title {
    font-size: 60px;
}

.txt_perfil p {
    font-size: 18px;
    color: #CCCCCC;
}

.info_perfil {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.linha {
    margin-top: 10px;
    margin-bottom: 10px;
}


.tecnologias {
    display: flex;
    gap: 20px;
}

.tecnologias img {
    width: 40px;
    transition: all 0.2s;
}

.tecnologias img:hover {
    transform: scale(1.1);
}

.links_perfil {
    display: flex;
    margin-top: 10px;
    gap: 20px;
}

.links_perfil a {
    color: #CCCCCC;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


#image_perfil {
    background-image: url(assets/avatar.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 2px #ffffff solid;
    transition: all .2s;
}

#image_perfil:hover {
    transform: scale(1.01);
}

.sobre_image {
    background-image: url(assets/sobre.jpg);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    width: 400px;
    height: 400px;
    border-end-end-radius: 20%;
    border: 2px #ffffff solid;
    transition: all .2s;
}

.sobre_info{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sobre_info h2{
    font-size: 34px;
}

.sobre {
    display: flex;
    align-items: center;
    width: 100vw;
    justify-content: space-evenly;
    background-color: #3d3d3d;
    padding: 5em 5em;
}

.sobre_texto{
    width: 30vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
}





/*div perfil*/

    /*.principal {
 align-items: center;
}

.primeiro-bloco {
    background-color: var(--bgsecundario-color);
    width: 23%;
    padding: 1em;
    border-radius: 10px;
}

.imagem-perfil {
    display: flex;
    justify-content: center;
}

.imagem-perfil img{
    width: 200px;
    border-radius: 50%;
    border: 2px #ffffff solid;
}

.texto-perfil {
    text-align: center;
    padding: 1em;
}

.texto-perfil h2, p {
    line-height: 2em;
}

.icone-html{
    width: 50px;
    margin: auto;
    transition: transform .3s;
}

.icone-html:hover {
    transform: translateY(-6px);
}

/*sobre mim*/


/*.segundo-bloco {
    padding: 2em;
    background-color: var(--bgsecundario-color);
    width: 50vw;
    border-radius: 10px;
}

.sobre-mim h2 {
    margin-bottom: 20px;
}

.sobre-mim a {  
    background: var(--bg-botao);
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.8s;
}

.sobre-mim a:hover {  
    background: var(--bg-botao-hover);
}

.buttons {
    display: flex;
    justify-content: end;
    cursor: pointer;
    margin-top: 1em;
}

/*Secundario*/

/*.redes-buttons a {
    color: #CCCCCC;
    font-size: 20px;
    display: block;
    margin: 10px;
    text-decoration: none;
    transition: color .2s;
}

.redes-buttons a:hover {
    color: #ffffff;
}

.tecnologias h2 {
    margin-bottom: 1em;
}

.img-tec {
    display: flex;
    justify-content: space-around;
}

.img-tec img {
    width: 50px;
    transition: all .2s;
}

.img-tec img:hover {
    width: 50px;
    transform: translateY(-6px);
} */



@media(max-width:840px) {
    .container {
        display: block;
    }

    .primeiro-bloco, .segundo-bloco {
        width: 100%;
    }
}